@charset "utf-8";
/* CSS Document */
@font-face {
	src: url(../fuentes/Aguafina-Script);
	src: url(../fuentes/Dancing-Script);
	
}
/*fuentes*/


/*Animacion entrada*/  

@-webkit-keyframes javier{
	
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	
	100%{
		margin-top: 0%;
	}
}


/*fin animacion entrada*/

body {
	background-color:black;
	/*font-family: 'Aguafina Script', cursive;*/
	font-family: 'Dancing Script';
	font-style: italic;
	color:white;
	margin-left:10px;
	animation: javier 1.4s;
	
}
body img{
	-webkit-box-shadow: 2px 2px 2px 2px #02010a;/*Chrome, Safari */
	-moz-box-shadow: 2px 2px 2px 2px #02010a;/*Firefox */
	-o-box-shadow: 2px 2px 2px 2px #02010a;/*Opera*/
	-ms-box-shadow: 2px 2px 2px 2px #02010a;/*Internet Explorer 10+*/
	box-shadow: 2px 2px 2px 2px #02010a;
	
}
container { 
	background-color: aqua;
	
}
header {
	 
  max-width: 900px;
  height: 80px;
  position:inherit;
  top:10px;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  margin: auto;
	
	
}
#titulo {
	float:left;
	text-shadow: 2px 2px 2px #02010a;
	word-spacing:4px;
	letter-spacing:3px;	
	padding-left: 10px;
}


#nav {
	width: 100%;
	padding:20px 10px 0 0;
	
  	
}

ul{
  list-style-type:none;
  margin: 0;
  overflow:hidden;
  height: 100%;
}

li{
  float:right;
  display:block;
  margin:0px 5px;
  padding:15px 0px;
  height:100%;
  
  
}
li a{
	
	color:white;
	text-shadow:2px 2px 2px #02010a;
	letter-spacing:2px;
	
}
.texto_sin{
text-decoration:none;	
}
/*pagina de inicio*/
.contenedor{
	
	max-width:900px;
	margin:auto;
	
	
}

#img1 {
	margin:auto;
	padding:10px;
	background: #82c3a6;
	}
#img1 img{
	
	margin: auto;
	width: 100%;
  }

.contenido{
	max-width: 900px;
	display: flex;
	margin: auto;
	padding: 10px 0px ;
	background-color:#d5c75f;
}
.contenido img{
	width: 100%;
	margin: auto;
	border: 1px solid black;
	
}
.contenido h2{
	text-align: center;
	text-decoration: underline;
	color:black;
	
}

#img2{
	margin: auto;
	float:left;
	position:relative;
	
   
}
#img2 a img:hover {
	transform:rotate(10deg);
	-webkit-transform:rotate(10deg);/*Chrome, Safari */
	-moz-transform:rotate(10deg);/*Firefox */
	-o-transform:rotate(10deg);/*Opera*/
	-ms-transform:rotate(10deg);/*Internet Explorer 10+*/
	box-shadow:3px #82c3a6;
	-webkit-box-shadow:3px #82c3a6;/*Chrome, Safari */
	-moz-box-shadow:3px #82c3a6;/*Firefox */
	-o-box-shadow:3px #82c3a6;/*Opera*/
	-ms-box-shadow:3px #82c3a6;/*Internet Explorer 10+*/
	border: 2px solid black;
}
#img3 {
	
	margin: auto;
	float:right;
	position:relative;
	
}

 #img3 a img:hover {
	transform:translate(20px,-5px);
	-webkit-transform:translate(20px,-5px);/*Chrome, Safari */
	-moz-transform:translate(20px,-5px);/*Firefox */
	-o-transform:translate(20px,-5px);/*Opera*/
	-ms-transform:translate(20px,-5px);/*Internet Explorer 10+*/
	box-shadow:3px #82c3a6;
	-webkit-box-shadow:3px #82c3a6;/*Chrome, Safari */
	-moz-box-shadow:3px #82c3a6;/*Firefox */
	-o-box-shadow:3px #82c3a6;/*Opera*/
	-ms-box-shadow:3px #82c3a6;/*Internet Explorer 10+*/
}

/*fin pagina inicio*/

/*galeria pagina paisajes y retratos*/



.galeria{
	max-width: 900px;
	margin:auto;
	background-color: #d5c75f;
	color: black;
	
}
.galeria h2{
	text-align: center;
	width: auto;
}
.galeria foto{
	padding: 10px 0px;
	width: 100%;
	margin: auto;
	display:flex;
	flex-wrap: wrap;
}
.galeria div{
	margin: auto;
	width: 30%;
	
}
.galeria foto img{
	width: 100%;
}

#imgp1{
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	}
#imgp3{
	filter: sepia(90%);
	-webkit-filter: sepia(90%);
	-moz-filter: sepia(90%);
	-o-filter: sepia(90%);
	-ms-filter: sepia(90%);
}

#imgp2, #imgp4, #imgp6{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
}
/*fin pagina paisages y retratos*/
footer{
	max-width: 900px;
	height:auto;
	margin: auto;
	background-color:#C6d5c5;
	border-radius: 0px 0px 10px 10px;
	display:flex;
	flex-direction:row;
	color: black;
}
footer div{
	padding: 10px;
    margin: 25px;
    border: none;
	width: 25%;
}
footer h2{
	text-align: center;
	word-spacing: 4px;
	letter-spacing: 3px;
}
footer  p{
	font-weight: bold;
	text-decoration: none;
	color:black;
	
}
footer  a{
	width:100%;
	text-decoration: none;
	color:black;
}



footer p img{
	margin-right:6px; 
	width:15%;
	
}
footer  p img:hover{
	transform:rotate(5deg);
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	-ms-transform:rotate(5deg);
	
}

/*media querie*/


@media all and (max-width: 900px) and (min-width:700px) {
	conteiner{
		width: 100%;
	}
	header {
		width: 100%;
	}
	.contenedor{
		width: 100%;
		
	}
	.contenido{
		width: 100%;
		
	}
	footer{
		width: 100%;
	}
	
}
@media all and (max-width: 700px) and (min-width:480px) {
	
	conteiner{
		width: 100%;
	}
	header {
		width: 100%;
		margin: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		order: 1;
		text-align: center;
	}
	#titulo{
		width: 100%;
		float:none;
		margin:auto;
		padding: 0;
		
	}
	#nav{
		width: 100%;
		margin: auto;
		padding: 0.5% 0.5% 0 0;
		align-content: center;
		
	}
	ul{
		
		margin:auto;
	
	}
	li{
		margin-left:13%;
		float: left;
		
		
	}
	/*pag inicio*/
	.contenedor{
		width: 100%;
		order: 2;
	}
	.contenido{
		margin: auto;
		width: 100%;
		display: block;
		order: 3;
	}
	#img2{
		width: 80%;
		margin: auto;
		float: none;
		padding: 10px;
	}
	#img3{
		width: 80%;
		margin: auto;
		float: none;
		padding: 10px;
	}
	/*fin pag de inicio*/
	/*pag retratos y paisajes*/
	
	.galeria{
		width: 100%;
		margin: auto;
		}
	.galeria foto{
		width:100%;
		margin: auto;
		display: block;
	}
	.galeria div{
		margin: auto;
		width:80%;
	}
	
	.galeria foto img{
		width: 100%;
	}
	/*fin pag retratos y paisajes*/
	footer{
		margin: auto;
		width: 100%;
		order: 4;
		display: block;
	}
	footer div{
		margin: auto;
		width: 30%;
		padding: 0.1%;
	}
	
	/*.bloque4 {
		width: 100%;
		min-height: 150px;
	}
	.bloque5{
		width: 100%;
		min-height: 150px;
	}*/
}
@media all and (max-width: 480px) and (min-width:353px){
	conteiner{
		width: 100%;
	}
	
	header {
		width: 100%;
		margin: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		order: 1;
		text-align: center;
	}
	#titulo{
		width: 100%;
		float:none;
		margin:auto;
		padding:0.1% 0;
		
	}
	#nav{
		width: 100%;
		margin: auto;
		padding: 0.1% 0;
		align-content: center;
		
	}
	ul{
		
		margin:auto;
	
	}
	li{
		margin:0 7%;
		float: left;
		
		
	}
	.contenedor{
		width: 100%;
		order: 2;
	}
	.contenido{
		margin: auto;
		width: 100%;
		display: block;
		order: 3;
	}
	#img2{
		width: 80%;
		margin: auto;
		float: none;
		padding: 10px;
	}
	#img3{
		width: 80%;
		margin: auto;
		float: none;
		padding: 10px;
	}
	/*fin pag de inicio*/
	/*pag retratos y paisajes*/
	
	.galeria{
		width: 100%;
		margin: auto;
		}
	.galeria foto{
		width:100%;
		margin: auto;
		display: block;
	}
	.galeria div{
		margin: auto;
		width:80%;
		padding: 3% 0;
		
	}
	
	.galeria foto img{
		width: 100%;
		
	}
	/*fin pag retratos y paisajes*/
	footer{
		margin: auto;
		width: 100%;
		order: 4;
		display: block;
	}
	footer div{
		margin: auto;
		width: 40%;
		padding: 0.1% 0;
	}
}