@charset "utf-8";
/* CSS Document */
@font-face {
	src: url(../fuentes/Aguafina-Script);
	src: url(../fuentes/Dancing-Script);
}
/*fuentes*/

body {
	background-color:black;
	/*font-family: 'Aguafina Script', cursive;*/
	font-family: 'Dancing Script';
	font-style: italic;
	color:white;
	margin-left:10px;
	
}
body img{
	-webkit-box-shadow: 2px 2px 2px 2px #02010a;
	-moz-box-shadow: 2px 2px 2px 2px #02010a;
	box-shadow: 2px 2px 2px 2px #02010a;
	
}
container { 
	background-color: aqua; 
}
header {
	 
  width: 900px;
  height: 80px;
  position:inherit;
  top: 10;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
	margin: auto;
	
	
}
#titulo {
	float:left;
	text-shadow: 2px 2px 2px #02010a;
	word-spacing:4px;
	letter-spacing:3px;	
	padding-left: 10px;
}


#nav {
	height: 100%;
	padding:20px 10px 0 0;
	
  	
}

ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

li{
  float: right;
  display: block;
  margin: 0px 5px;
  padding: 15px 0px;
  height: 100%;
  
  
}
li a{
	text-decoration:none;
	color:white;
	text-shadow: 2px 2px 2px #02010a;
	letter-spacing:2px;
	
}
/*pagina de inicio*/
.contenedor{
	width: 900px;
	margin: auto;
	flex-direction:row;
	
}

#img1 {
	
    height:330px;
	padding: 10px 12px 0px 6px;
	background:#82c3a6;
	}
picture img1{
align-items: center;
	
}

.contenido{
	width:900px;
	display: flex;
	margin: auto;
	padding: 10px 0px ;
	background-color:#d5c75f;
}
.contenido img{
	border: 1px solid black;
}
.contenido h2{
	text-align: center;
	text-decoration: underline;
	color:black;
	
}

#img2{
	margin: auto;
	float:left;
	position: relative;
	
   
}
#img2 a img:hover {
	transform:rotate(10deg);
	box-shadow:3px #82c3a6 ;
	border: 2px solid black;
}
#img3 {
	margin: auto;
	float:right;
	position:relative;
	
}

 #img3 a img:hover {
	transform:translate(20px,-5px);
	
	box-shadow:3px #82c3a6 ;
}

/*fin pagina inicio*/
/*galeria pagina paisajes*/



.galeria{
	width:900px;
	margin:auto;
	background-color: #d5c75f;
	color: black;
	
}
.galeria h2{
	text-align: center;
	width: auto;
}
.galeria foto{
	padding: 10px 0px;
	width: 100%;
	margin: auto;
	display:flex;
	flex-wrap: wrap;
}
.galeria div{
	margin: auto;
	width: 30%;
	
}
.galeria foto img{
	width: 100%;
}


/*fin pagina paisages*/
footer{
	width:900px;
	height:auto;
	margin: auto;
	background-color:#C6d5c5;
	border-radius: 0px 0px 10px 10px;
	display:flex;
	flex-direction:row;
	color: black;
}
footer div{
	padding: 10px;
    margin: 25px;
    border: none;
	width: 25%;
}
footer h2{
	text-align: center;
	word-spacing: 4px;
	letter-spacing: 3px;
}
footer  p{
	font-weight: bold;
	text-decoration: none;
	color:black;
	
}
footer  a{
	width:100%;
	text-decoration: none;
	color:black;
}



footer p img{
	margin-right:6px; 
	width:25px;
	
}
footer #redes p img:hover{
	transform:rotate(5deg);
	
}