@charset "utf-8";
/* CSS Document */
@font-face {
	src: url(../fuentes/Aguafina-Script);
	src: url(../fuentes/Aguafina-Script);
}
/*fuentes*/

body {
	background-color:black;
	/*font-family: 'Aguafina Script', cursive;*/
	font-family: 'Dancing Script';
	font-style: italic;
	color:white;
	width:900px;
	margin-left:10px;
	
}
body img{
	-webkit-box-shadow: 2px 2px 2px 2px #02010a;
	-moz-box-shadow: 2px 2px 2px 2px #02010a;
	box-shadow: 2px 2px 2px 2px #02010a;
	
}
header {
	 
  width: 100%;
  height: 80px;
  position:inherit;
  top: 10;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
	
	
}
#titulo {
	float:left;
	text-shadow: 2px 2px 2px #02010a;
	word-spacing:4px;
	letter-spacing:3px;
	
	
}


#nav {
	height: 100%;
	padding-top: 20px;
	
  	
}

ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

li{
  float: right;
  display: block;
  margin: 0px 5px;
  padding: 15px 0px;
  height: 100%;
  
  
}
li a{
	text-decoration:none;
	color:white;
	text-shadow: 2px 2px 2px #02010a;
	letter-spacing:2px;
	
}
.contenedor{
	width: 100%;
	flex-direction:row;
	
}

#img1 {
	
    height:330px;
	padding: 0px 12px;
	background:#82c3a6;
	
	
	
	}
picture img1{
align-items: center;
	
}

.contenido{
	width: 100%;
	height: 460px;
	flex-direction:column;!important
	margin: 0px  ;
	padding: 10px 0px ;
	background-color:#d5c75f ;
}
.contenido img{
	border: 1px solid black;
}

#img2{
	float:left;
	position: relative;
	left:10px;	
   
}
 #img2 a img:hover {
	transform:rotate(10deg);
	box-shadow:3px #82c3a6 ;
	border: 2px solid black;
}
#img3 {
	float:right;
	position:relative;
	right:11px;
}

 #img3 a img:hover {
	transform:translate(20px,-5px);
	
	box-shadow:3px #82c3a6 ;
}

footer{
	width:100%;
	height:200px;
	background-color:#C6d5c5;
	border-radius: 0px 0px 10px 10px;
}