@charset "utf-8";
/* CSS Document */
@font-face {
	src: url(../fuentes/Aguafina-Script)
}
/*fuentes*/

body {
	background-color:black;
	font-family: 'Aguafina Script', cursive;
	color:white;
	width:900px;
	margin-left:10px;
	
}
body img{
	-webkit-box-shadow: 2px 2px 2px 2px #02010a;
	-moz-box-shadow: 2px 2px 2px 2px #02010a;
	box-shadow: 2px 2px 2px 2px #02010a;
	
}
header {
	 
  width: 100%;
  height: 80px;
  position:inherit;
  top: 10;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
	
	
}
#titulo {
	float:left;
	text-shadow: 2px 2px 2px #02010a;
	
	
}

header h1{
	
	
	}
#nav {
	height: 100%;
	padding-top: 20px;
	
  	
}

ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

li{
  float: right;
  display: block;
  margin: 0px 5px;
  padding: 15px 0px;
  height: 100%;
  
  
}
li a{
	text-decoration:none;
	color:white;
	text-shadow: 2px 2px 2px #02010a;
	letter-spacing:2px;
	
}
.contenedor{
	width: 100%;
	flex-direction:row;
	
}

#img1 {
	
    height:330px;
	padding: 0px 12px;
	background:#82c3a6;
	
	
	
	}
picture img1{
align-items: center;
	
}

section {
	
	
	
	
	
	
}





#img2{
	
	
	background-color:  #d5c75f ;
}
#img3 {
	background-color:  #d5c75f ;
}